doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title DeVILBISS
            meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no")
            meta(http-equiv="x-ua-compatible" content="ie=edge")
            meta(name="HandheldFriendly" content="true")
            meta(name="format-detection" content="telephone=no")
            link(rel="stylesheet" href="css/style.min.css")

    body
        block header
            include header
        block content
        block footer
            include footer
        block scripts
            script(src='https://code.jquery.com/jquery-3.6.0.min.js')
            script(src='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js')
            script(src='js/main.min.js')
