div.card_list
  div.card_item-wrapper
    div.card_item
      a.card_image(href='#' style='background: url(./img/product.jpg) center center / cover no-repeat')
      div.card_content
        a.card_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
        div.card_price 18 565 р.

  div.card_item-wrapper
    div.card_item
      a.card_image(href='#' style='background: url(./img/product.jpg) center center / cover no-repeat')
      div.card_content
        a.card_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
        div.card_price 18 565 р.

  div.card_item-wrapper
    div.card_item
      a.card_image(href='#' style='background: url(./img/product.jpg) center center / cover no-repeat')
      div.card_content
        a.card_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
        div.card_price 18 565 р.

  div.card_item-wrapper
    div.card_item
      a.card_image(href='#' style='background: url(./img/product.jpg) center center / cover no-repeat')
      div.card_content
        a.card_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
        div.card_price 18 565 р.
