div.sale
  div.sale_head
    div.sale_title Распродажа
    div.sale_counter 8 товаров

  div.card-small_list
    div.card-small_item
      a.card-small_image(href='#' style='background: url(./img/product-small.jpg) center center / cover no-repeat')
      a.card-small_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
      div.card-small_price 18 565 р.
      div.card-small_cart
        include ../../../img/cart-add.svg

    div.card-small_item
      a.card-small_image(href='#' style='background: url(./img/product-small.jpg) center center / cover no-repeat')
      a.card-small_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
      div.card-small_price 18 565 р.
      div.card-small_cart
        include ../../../img/cart-add.svg

    div.card-small_item
      a.card-small_image(href='#' style='background: url(./img/product-small.jpg) center center / cover no-repeat')
      a.card-small_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
      div.card-small_price 18 565 р.
      div.card-small_cart
        include ../../../img/cart-add.svg

    div.card-small_item
      a.card-small_image(href='#' style='background: url(./img/product-small.jpg) center center / cover no-repeat')
      a.card-small_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
      div.card-small_price 18 565 р.
      div.card-small_cart
        include ../../../img/cart-add.svg

    div.card-small_item
      a.card-small_image(href='#' style='background: url(./img/product-small.jpg) center center / cover no-repeat')
      a.card-small_title(href='#') Краскопульт GtiPRO LITE с верхним бачком Футбол золотой
      div.card-small_price 18 565 р.
      div.card-small_cart
        include ../../../img/cart-add.svg

div.sale_show-more Показать еще
  include ../../../img/arrow.svg
