div.banner
  div.main-slider_container
    div.main-slider_arrow.main-slider_arrow-prev
      include ../../../img/arrow.svg
    div.main-slider_arrow.main-slider_arrow-next
      include ../../../img/arrow.svg
    div.main-slider
      div
        div.main-slider_slide(style='background: url(./img/banner-bg.jpg) center center / cover no-repeat') Зимние скидки
      div
        div.main-slider_slide(style='background: url(./img/banner-bg.jpg) center center / cover no-repeat') Зимние скидки
      div
        div.main-slider_slide(style='background: url(./img/banner-bg.jpg) center center / cover no-repeat') Зимние скидки
