div.video_container
  div.video_list
    div.video_item-wrap
      div.video_item
        div.video_image(style='background: url(./img/tmp1.jpg) center center / cover no-repeat')
        div.video_icon
          include ../../../img/arrow.svg

    div.video_item-wrap
      div.video_item
        div.video_image(style='background: url(./img/tmp1.jpg) center center / cover no-repeat')
        div.video_icon
          include ../../../img/arrow.svg
