@import "../mixins/media";

.header {

  &_top {
    display: flex;
    align-items: center;
    padding: 14px 30px;
    background: $black;
  }

  .logo {
    width: 186px;
    margin-left: 30px;
    flex-shrink: 0;

    &-img svg {
      fill: $white;
      transition: 0.2s;
    }

    a.logo-img {
      cursor: pointer;


      &:hover {
        svg {
          fill: $primary;
        }
      }
    }
  }

  &_menu {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    margin-left: 10%;
    margin-right: auto;
  }

  &_search {
    display: flex;

    svg {
      fill: $white;
    }
  }

  &_phone {
    margin-left: 24px;
  }

  &_phone-link {
    font-size: 24px;
    color: $white;
    font-weight: 500;
    transition: 0.2s;

    &:hover {
      color: $primary;
    }
  }

  &_bottom-line {
    position: relative;
    width: 50%;

    @include media-custom(500px) {
      width: 100%;
    }
  }

  &_bottom-cart {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 100%;

    @include media-custom(500px) {
      right: 0;
      left: auto;
      width: 106px;

      .cart_text {
        display: none;
      }
    }
  }
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  cursor: pointer;

  &:hover {
    color: $white;

    svg {
      fill: $white
    }
  }

  &_text {
    margin-right: 24px;
    font-size: 18px;
    font-weight: 600;
    text-transform: lowercase;
    display: block;
  }

  &_counter {
    margin-top: 2px;
    margin-right: 8px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.2s;
  }

  svg {
    width: 21px;
    fill: $black;
    transition: 0.2s;
  }
}

.main-menu {

  &_list {
    display: flex;
    align-items: center;
  }

  &_item {
    margin-right: 24px;
  }

  &_link {
    padding: 12px;
    font-size: 22px;
    color: $white;
    text-transform: lowercase;
    font-weight: 600;
    transition: 0.2s;

    &.active,
    &:hover {
      color: $primary;
    }
  }
}

.catalog-menu {
  display: none;
  border-top: 1px solid $black;
  background: linear-gradient(135deg, #ff3535, $pink 40%, $pink 80%, #9d0a63);

  @include media-custom(500px) {
    background: linear-gradient(to right, $orange, $pink, $purple);
  }

  &_tumbler {
    display: flex;
    padding: 12px 0 16px;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    line-height: 0.8em;
    font-weight: 500;
    text-transform: lowercase;
    color: $white;
    transition: 0.2s;
    background: linear-gradient(to right, $orange, $pink, $purple);
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    justify-content: flex-end;
    padding: 30px 0;

    @include media-tablet-horizontal {
      margin: 0 -23px;
    }

    @include media-laptop {
      padding: 56px 0;
    }
  }

  &_item {
    width: 100%;
    padding: 6px 0;

    @include media-tablet-horizontal {
      width: 50%;
      padding: 12px 9px;
    }

    @include media-laptop {
      width: 33.333%;
    }
  }

  &_link {
    padding: 2px 6px 5px;
    font-size: 16px;
    line-height: 0.8em;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: $black;
    border-radius: 14px;
    transition: 0.2s;

    @include media-custom(500px) {
      padding: 2px 14px 5px;
    }

    @include media-tablet-horizontal {
      font-size: 18px;
    }

    &.active,
    &:hover {
      color: $white;
      background: $black;
    }
  }
}
