@import "../mixins/media";

.header {

  &_top {
    display: flex;
    align-items: center;
    padding: 14px 30px 0;
    flex-wrap: wrap;
    background: #1a1a1a;

    @include media-s-laptop {
      padding: 14px 30px;
      flex-wrap: nowrap;
      background: $black;
    }
  }

  .logo {
    width: 130px;
    flex-shrink: 0;
    margin: 0 auto;

    @include media-tablet {
      width: 186px;
    }

    @include media-laptop {
      margin: 0 0 0 30px;
    }

    @include media-s-laptop {
      order: -1;
    }

    &-img svg {
      fill: $white;
      transition: 0.2s;
    }

    a.logo-img {
      cursor: pointer;


      &:hover {
        svg {
          fill: $primary;
        }
      }
    }
  }

  &_menu {
    display: flex;
    padding-top: 14px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    order: 4;
    width: 100%;

    @include media-s-laptop {
      width: auto;
      padding: 0;
      flex-grow: 1;
      order: unset;
    }
  }

  &_search {
    display: none;
    cursor: pointer;
    padding: 6px;

    &:hover svg {
      fill: $pink;
    }

    @include media-s-laptop {
      display: flex;
    }

    &-mobile {
      display: flex;
      order: 3;

      @include media-s-laptop {
        display: none;
      }
    }

    svg {
      fill: $white;
      transition: 0.2s;
    }
  }

  &_phone {
    display: none;

    @include media-s-laptop {
      display: block;
    }
  }

  &_phone-mobile {
    display: flex;
    background: $gray;
    justify-content: center;
    padding: 12px 0;

    @include media-s-laptop {
      display: none;
    }
  }

  &_phone-mobile-link,
  &_phone-link {
    font-size: 24px;
    color: $white;
    font-weight: 500;
    transition: 0.2s;

    &:hover {
      color: $primary;

      svg {
        fill: $primary;
      }
    }
  }

  &_phone-mobile-link {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_phone-mobile-icon {
    display: flex;
    width: 21px;
    margin-right: 30px;

    svg {
      transition: 0.2s;
      fill: $white;
    }
  }

  &_bottom-line {
    border-top: 1px solid $white;

    @include media-custom(500px) {
      border: none;
    }
  }

  &_bottom-line {
    position: relative;
    width: 50%;

    @include media-custom(500px) {
      width: 100%;
    }
  }

  &_bottom-cart {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 100%;

    @include media-custom(500px) {
      right: 0;
      left: auto;
      width: 106px;

      .cart_text {
        display: none;
      }
    }
  }
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  cursor: pointer;

  &:hover {
    color: $white;

    svg {
      fill: $white
    }
  }

  &_text {
    margin-right: 24px;
    margin-top: -2px;
    font-size: 18px;
    font-weight: 600;
    text-transform: lowercase;
    display: block;
    transition: 0.2s;

    @include media-tablet {
      margin-top: 0;
    }
  }

  &_counter {
    margin-top: 2px;
    margin-right: 8px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.2s;
  }

  svg {
    width: 21px;
    fill: $black;
    transition: 0.2s;
  }
}

.main-menu {
  margin: 0 -30px;
  max-width: none;
  flex-grow: 1;

  @include media-s-laptop {
    flex-grow: unset;
    border: none;
    margin: 0;
  }

  &_container {
    display: none;
    padding-top: 30px;
    border-top: 1px solid $white;

    @include media-s-laptop {
      display: block !important;
      padding: 0;
      border: none;
    }
  }

  &_burger {
    width: 24px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    &:hover span {
      background: $pink;
    }

    @include media-s-laptop {
      display: none;
    }

    & span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 8px;
      }

      &:nth-child(3) {
        top: 16px;
      }
    }

    &.pressed span {
      &:nth-child(1) {
        top: 8px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: 60px;
      }

      &:nth-child(3) {
        top: 8px;
        transform: rotate(-135deg);
      }
    }
  }

  &_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;

    @include media-tablet {
      flex-direction: row;
    }

    @include media-s-laptop {
      margin-top: -6px;
      margin-bottom: 0;
      justify-content: unset;
    }
  }

  &_item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-tablet {
      margin-right: 18px;
      margin-bottom: 0;
    }

    @include media-laptop {
      margin-right: 24px;
    }
  }

  &_link {
    padding: 12px;
    font-size: 22px;
    color: $white;
    text-transform: lowercase;
    font-weight: 600;
    transition: 0.2s;

    &.active,
    &:hover {
      color: $primary;
    }
  }
}

.catalog-menu {
  display: none;
  overflow: hidden;
  border-top: 1px solid $white;
  background: linear-gradient(135deg, #ff3535, $pink 40%, $pink 80%, #9d0a63);

  @include media-custom(500px) {
    border-top: 1px solid $black;
    background: linear-gradient(to right, $orange, $pink, $purple);
  }

  &_tumbler {
    display: flex;
    padding: 12px 0 16px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 0.8em;
    font-weight: 500;
    text-transform: lowercase;
    color: $white;
    transition: 0.2s;
    background: linear-gradient(to right, $orange, $pink, $purple);
    cursor: pointer;

    @include media-tablet {
      font-size: 28px;
    }

    &:hover {
      color: $black;
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    justify-content: flex-end;
    padding: 30px 0;

    @include media-tablet-horizontal {
      margin: 0 -23px;
    }

    @include media-laptop {
      padding: 56px 0;
    }
  }

  &_item {
    width: 100%;
    padding: 6px 0;

    @include media-tablet-horizontal {
      width: 50%;
      padding: 12px 9px;
    }

    @include media-laptop {
      width: 33.333%;
    }
  }

  &_link {
    padding: 2px 6px 5px;
    font-size: 16px;
    line-height: 0.8em;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: $black;
    border-radius: 14px;
    transition: 0.2s;

    @include media-custom(500px) {
      padding: 2px 14px 5px;
    }

    @include media-tablet-horizontal {
      font-size: 18px;
    }

    &.active,
    &:hover {
      color: $white;
      background: $black;
    }
  }
}
