@import "../mixins/media";

.main-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

.main-column {
}

.card {

  &_list {
    display: flex;
    max-width: none;
    flex-wrap: wrap;
    margin: -22px -15px;
  }

  &_item-wrapper {
    width: 50%;
    padding: 22px 15px;
  }

  &_item {
    box-shadow: 0 0 10px -6px rgba(0,0,0, 0.2);
  }

  &_image {
    display: block;
    padding-top: 100%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  &_content {
    display: flex;
    height: 128px;
    align-items: center;
    padding: 12px 24px;
    background: $white;
  }

  &_title {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
    color: $black;
    transition: 0.2s;

    &:hover {
      color: $primary;
    }
  }

  &_price {
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
    flex-shrink: 0;
    width: 100px;
    text-align: right;
  }
}

.sale {
  padding: 40px;
  border-top: 5px solid $orange;
  background: $white;

  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    font-size: 20px;
    font-weight: 600;
    color: $black;
  }

  &_counter {
    font-size: 20px;
    font-weight: 600;
    color: #c3c3c3;
  }

  &_show-more {
    display: flex;
    height: 56px;
    margin-bottom: 42px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: $white;
    background: $black;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: $primary;
    }

    svg {
      width: 15px;
      margin-left: 20px;
      transform: rotate(-90deg);
      fill: none;
      stroke: $primary;
      stroke-width: 3px;
    }
  }
}

.card-small {

  &_list {
    margin: 56px 0 20px;
  }

  &_item {
    display: flex;
    height: 90px;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 0.2);
  }

  &_image {
    display: block;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  &_title {
    margin-left: 40px;
    margin-right: auto;
    font-size: 15px;
    line-height: 1.2em;
    font-weight: 600;
    color: $black;
    transition: 0.2s;

    &:hover {
      color: $primary;
    }
  }

  &_price {
    width: 120px;
    margin-left: 24px;
    margin-right: 4%;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    letter-spacing: 1px;
    color: $black;
  }

  &_cart {
    display: flex;
    width: 28px;
    margin-right: 4%;
    cursor: pointer;

    &:hover svg {
      fill: $primary;
    }

    svg {
      fill: #c2c2c2;
      fill-rule: evenodd;
      transition: 0.2s;
    }
  }
}

.video {
  overflow: hidden;

  &_container {
    overflow: hidden;
  }

  &_list {
    display: flex;
    max-width: none;
    align-items: center;
    margin: -22px;
  }

  &_item-wrap {
    width: 50%;
    padding: 22px;
  }

  &_item {
    position: relative;
    padding-top: 78%;
    border-radius: 14px;
    overflow: hidden;
    background: $black;
    cursor: pointer;

    &:hover {
      .video_image {
        opacity: 0.5;
      }

      svg {
        transform: scale(1.2);
      }
    }
  }

  &_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: 0.2s;
  }

  &_icon {
    position: absolute;
    display: flex;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(180deg);

    svg {
      fill: $white;
      transition: 0.2s;
    }
  }
}
