extends common/layout

block content
  main.main
    div.main-slider_outside
      div.page-width
        include includes/index/slider

    div.page-width
      div.main-columns
        div.main-column
          include includes/index/cards

        div.main-column
          include includes/index/sale
          include includes/index/video
