// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;


// Colors
$black: #202020;
$white: #ffffff;
$orange: #ec4e1e;
$pink: #fa145f;
$purple: #4a125d;
$primary: #fa145f;
//$secondary:
