// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthSmallLaptop: 1280px;
$mediaWidthLaptop: 1366px;


// Colors
$primary: #fa145f;
//$secondary:
$black: #202020;
$extralightgray: #e4ecef;
$lightgray: #777c7f;
$gray: #2e2e2e;
$white: #ffffff;
$orange: #ec4e1e;
$pink: #fa145f;
$purple: #4a125d;
